/*leftover from react-app

.default {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  text-align: center;
}*/

.color-scheme {
  color: #0052a4;
}



.btn-outline-primary {
  color: #0052a4 !important;
  border-color: #0052a4 !important;
  border-width:2px !important;
  font-size:18px !important;
  border-radius:20px !important;
  font-weight:500 !important;
}

.btn-outline-primary:hover {
  color: white !important;
  background-color: #0052a4 !important;
}

.jumbotron {
  background-color:white !important;
  text-align:center;
}

.nav-bar-pref {
  max-width:1200px;
  margin: auto;
}

.my-logo {
  padding-top:20px;
}

.avatar {
  height:180px;
}

@media only screen and (min-width: 600px) {
  .avatar {
    height:225px;
  }
}